$darkCyan: hsl(185, 75%, 39%);
$veryDarkBlue: hsl(229, 23%, 23%);
$veryGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@mixin flex-align-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin margin-center {
    margin-left: auto;
    margin-right: auto;
}